@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: gold;
}

.navbar h1 {
  color: #f1356d;
  font-size: xx-large;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

.order-preview {
  padding: 10px 16px;
  margin: 20px 0;
  background-color: snow;
  border-bottom: 1px solid whitesmoke;
  border: 1px solid whitesmoke;;
}

.order-preview:hover {
  box-shadow: 1px 3px 5px thistle;
}

.order-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.order-preview a {
  text-decoration: none;
}

.order-preview button {
  background: cornsilk;
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 5px;
  border: 0;
  margin-top: 5px;
  border: 1px solid darkgray;
}

.order-details {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid whitesmoke;
}

.order-details:hover {
  box-shadow: 1px 3px 5px thistle;
}

.order-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.order-details a {
  text-decoration: none;
}

.create-order {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
  margin: auto;
}

.create-order h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.create-order a {
  text-decoration: none;
}

.create-order label {
  text-align: left;
  display: block;
}

.create-order input, .create-order select {
  display: block;
  width: 60%;
  box-sizing: border-box;
  padding: 6px 10px;
  border: 1px solid firebrick;
}

.create-order button {
  background: seashell;
  cursor: pointer;
  border-radius: 7px;
  padding: 10px 10px;
  border: 0;
  margin-top: 5px;
}